/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

/* @media (min-width: 1400px) {
  
  article > figure {
    width: calc(100% / 3 - 30px);
  }
  
} */

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1024px) { /*and (max-width: 1399px) { */
  
  article > figure {
    width: calc(100% / 2 - 30px);
  }
  #technologies article > figure {
    width: calc(100% / 4 - 30px);
  }
  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1023px) {
  
  article > figure {
    width: 100%;
  }

  #technologies article > figure {
    width: calc(100% / 3 - 30px);
  }
  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

/* @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  article > figure {
    width: calc(100% / 2 - 30px);
  }
  
} */

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 768px) {
  
  article > figure {
    width: 100%;
  }
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
  article > figure {
    width: 100%;
  }
  
}