@import "basscss";
@import "basscss-background-colors";
@import "basscss-colors";
@import "./whitespace.css";
@import "./media-queries.css";
@import "./fonts.css";
@import "./loading.css";
@import "./video-player.css";
@import "./login-input.css";

:root {
  --container-width:1500px;
  --black:#565656;
  --blue:#2B78F6;
  --border-color: rgba(0,0,0,0.05);
  --h1:26px;
  --h3:1em;
}

* {
  margin: 0px;
  color: var(--black);
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size:14px;
  overflow: auto;
  outline:none;
}

/* General */
.h1 { font-size: var(--h1) }
.h3 { 
  font-size: var(--h3);
  text-transform: uppercase;
 }
.border {
  border-color: var(--border-color);
}
ul, li {
  list-style:none;
  padding:0;
}
nav li {
  line-height: 37px;
}
li > a {
  transition: 200ms all cubic-bezier(0.4, 0, 1, 1);
}

a {
  text-decoration: none;
}
/*  Remove tap highlight on iOS */
input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

/* Navigation */
nav a:hover:not(.active) {
  text-decoration: underline;
}
nav .has-active a{
  opacity: 1!important;
}
nav a:not(.active) {
  opacity: 0.3;
}
nav ul:hover a{
  opacity: 1;
}
nav ul:hover {
  overflow:auto!important;
}
nav ul:nth-child(1) > li:not(.featured) > a {
  font-weight:bold;
}
nav li a.active {
  color: #2B78F6;
  font-weight: bold;
  border-left: 3px solid;
  padding-left: 10px;
}
nav ul:nth-child(1) > li:not(:first-child) {
  margin-top:25px;
}

/* Home Grid*/
figure > div {
  background-color: transparent;
  height: auto;
  perspective: 1000px;
  position:absolute;
  bottom:0;
  left:0;
  right:0;  
}
figure > div > div {
  position: relative;
  height: calc(100% - 20px);
  transition: opacity 0.3s, transform 0.3s;
  transform-style: preserve-3d;
  transform-origin: bottom;
  transform: rotateX(30deg);
  opacity:0;
  background: 
    linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.5)
    );
}
figure > div > div p {
  color:#ffffff;
  text-shadow: 1px 1px 2px rgba(0,0,0,.5);
  font-family:'system-ui';
  letter-spacing: 0.3px;
}
figure.active > div > div {
  transform: rotateX(0deg);
  opacity:1;
}
figure div > p:nth-child(1) {
  margin: 7px 0 6px 0;
}
figure img {
  color: #ffffff;
}
.container {
  max-width: var(--container-width);
  margin-left: auto;
  margin-right: auto;
}

.featured {
  line-height: initial;
}
.featured a {
  margin-top: 5px;
  font-size: 16px;
}

figure > img {
  width:100%;
}

figure > img:not(.loading), figure > video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

.modal img {
  width:100%;
}

.sticky {
  position: fixed;
  top: 0px;
  z-index: 1;
  background-color: rgba(255,255,255, 0.8);
}

.sticky span {
  color: var(--black) !important;
}

.sticky + .projects {
  margin-top: 49px;
}

.fadeOut{
  opacity:0;
  transition: width 0.5s, height 0.5s, opacity 0.35s;
  -moz-transition: width 0.5s, height 0.5s, opacity 0.35s;
}
.fadeIn{
  opacity:1;
  transition: width 0.5s, height 0.5s, opacity 0.35s;
  -moz-transition: width 0.5s, height 0.5s, opacity 0.35s;
}

.light-shadow {
  -webkit-box-shadow: 0px 0px 38px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 0px 38px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 0px 38px 0px rgba(0,0,0,0.1);
}