.login .input {
	position: relative;
	z-index: 1;
	display: inline-block;
	margin: 1em;
	max-width: 350px;
	width: calc(100% - 2em);
	vertical-align: top;
  font-size: 150%;
}

.login .input__field {
  position: relative;
  height: 65px;
	display: block;
	float: right;
	padding: 0.8em;
	width: 60%;
	border: none;
	border-radius: 0;
	background: #fff;
	font-weight: 400;
	-webkit-appearance: none; /* for box shadows to show on iOS */
}

.login .input__field:focus {
	outline: none;
}

.login .input__label {
	display: inline-block;
	float: right;
	padding: 0 1em;
	width: 40%;
	font-weight: bold;
	font-size: 70.25%;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.login .input__label-content {
	position: relative;
	display: block;
	padding: 1.6em 0;
	width: 100%;
}

.login .graphic {
	position: absolute;
	top: 0;
	left: 0;
	fill: none;
}

.login *, 
.login *:after, 
.login *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }

.login .clearfix:before,
.login .clearfix:after { content: ''; display: table; }
.login .clearfix:after { clear: both; }

/* Nao */
.login .input--nao {
	overflow: hidden;
	padding-top: 10px;
}

.login .input__field--nao {
	padding: 0.5em 0em 0.25em;
	width: 100%;
	background: transparent;
	font-size: 1.25em;
}

.login .input__label--nao {
	position: absolute;
	top: 0.95em;
	font-size: 0.85em;
	left: 0;
	display: block;
	width: 100%;
	text-align: left;
	padding: 0em;
	pointer-events: none;
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
	-webkit-transition: -webkit-transform 0.2s 0.15s, color 1s;
	transition: transform 0.2s 0.15s, color 1s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}

.login button img {
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}

.login button:active img,
.login button.active img
 {
  -moz-transform: scale(0.75);
  transform: scale(0.75);
}

.login .graphic--nao {
	stroke: #92989e;
	pointer-events: none;
	-webkit-transition: -webkit-transform 0.7s, stroke 0.7s;
	transition: transform 0.7s, stroke 0.7s;
	-webkit-transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
	transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
} 
.login svg:not(:root) {
  overflow: hidden;
}
.login .input__field--nao:focus + .input__label--nao,
.login .input--filled .input__label--nao {
	-webkit-transform: translate3d(0, -1.25em, 0) scale3d(0.75, 0.75, 1);
	transform: translate3d(0, -1.25em, 0) scale3d(0.75, 0.75, 1);
}

.login .input__field--nao:focus ~ .graphic--nao,
.login .input--filled .graphic--nao {
	stroke: #333;
	-webkit-transform: translate3d(-66.6%, 0, 0);
	transform: translate3d(-66.6%, 0, 0);
}