/* 
  Very generic media query rules for 3 breakpoints. Does not account for retina displays,
  screen orientation.
/*

/*
  "Desktop" : 3 columns for technology projects, 2 columns for all others
*/
@media (min-width: 1024px) {
  .projects > figure {
    width: calc(100% / 2 - 15px);
  }
  #technologies + ul .projects > figure {
    width: calc(100% / 3 - 15px);
  }
}

/*
  "Tablet Portrait" : 2 columns for technology projects, 1 columns all others
*/
@media (min-width: 768px) and (max-width: 1023px) {
  .projects > figure {
    width: 100%;
  }
  #technologies + ul .projects > figure {
    width: calc(100% / 2 - 15px);
  }
}

/*
  "Tablet Landscape & Mobile Landscape" : 2 columns for all projects
*/
@media (min-width: 481px) and (max-width: 768px) {
  .projects > figure {
    width: calc(100% / 2 - 15px) !important;
  }
  #technologies + ul .projects > figure {
    width: calc(100% / 2 - 15px) !important;
  }
}

/* 
  "Mobile Portrait": 1 column for all projects
*/
@media (min-width: 320px) and (max-width: 480px) {
  .projects > figure {
    width: 100%;
  }
}
